.button {
  margin-left: 10px;
  margin-right: 5px;
}

.centreBlock {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.grid-item {
      border: 1px solid rgba(0, 0, 0, 0.8);
      font-size: 1px;
      height: 20px;
}

.set-red {
   background-color: red;
}

.set-green {
   background-color: green;
}
